@media screen and (max-device-width: 480px) {
}
@media all {
}

html {
    height: 100%;
    width: 100%;
    min-width: 240px;
    max-width: 100%;
}

a:link { text-decoration: none; color: rgb(194, 92, 94); }
a:visited { text-decoration: none; color: rgb(161, 138, 124); color: rgb(194, 92, 94); }
a:hover { text-decoration: underline; color: rgb(163, 40, 35); }
.alignleft { float: left; }
.alignright { float: right; }

body {
    min-height: 100%;
    position: relative;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 242, 204);
}
.header  {
    margin: 0;
    padding: 0 0;
    background-color: rgb(230, 145, 56);
    /* background: url('logbook.jpg') ; */
    background: #5f452a url("http://www.geocaching.com/images/tlnMasters/topographic-footer.png");
    text-align: center;
}
.header h1 {
    font: 70px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    color: rgb(163, 40, 35);
    color: rgb(163, 140, 35);
    margin: 0 0.3em 0em 0.3em;
}
.header h1 a {
    color: rgb(163, 140, 35);
}
.header .description {
    font-size: 150%;
    color: rgb(68, 68, 67);
    color: rgb(163, 140, 35);
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    margin: auto;
    max-width: 800px;
}
.main {
    margin: 0 auto;
    min-width: 240px; max-width: 856px;
}
.date {
    padding-top: 10px;
    margin: 0 auto;
}
h2.date-header {
    font: bold 24px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    color: rgb(34, 34, 34);
    color: rgb(163, 140, 35);
    padding: 5px 12px;
    margin: 0;
    /* background: url('logbook.jpg'); */
    background: #5f452a url("http://www.geocaching.com/images/tlnMasters/topographic-footer.png");
}
.post-entry {
    padding: 4px 19px 4px 19px;
    line-height: 1.4;
    font-size: 120%;
}
.post-title {
    font: 20px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    margin: 4px 0px 20px 0px;
}

.post-icon {
	padding-right: 6px;
	width: 26px;
	vertical-align: text-bottom;
}

.post-banner {
    margin: 14px 18px 0px;
    padding: 8px;
    /* background: rgb(230, 145, 56); */
    /* background:url('logbook.jpg'); */
    background: #5f452a url("http://www.geocaching.com/images/tlnMasters/topographic-footer.png");
    page-break-before: always;
}
.post-entry p {
    margin: 6px 0px 6px 0px;
    padding: 0px 4px 0px 4px;
    text-align: justify;
    /* text-justify: inter-word;   */
}
.post-body {
    clear: both;
}
.table-pictures {
    margin: 0 auto;
    text-align: center;
}
.picture {
    background: rgb(0,0,0); 
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 256px;
}
.picture tr {
    background: black;
}
.picture img {
    display: block;
    /* max-width:764px; */
    width:256px;
    height:192px;
    margin: auto;
    padding: 3px 3px 0px 3px;
    object-fit: contain;
}
.picture .panorama {
    max-width: 800px;
    width: auto;
    height: auto;
    padding: 3px 3px 0px 3px;
}
.picture .portrait {
    width: 256px;
}
.picture .landscape {
    width: 256px;
}
.picture .caption {
    height: 2.3em;
    padding: 0;
    line-height: 1.1em;
    background: rgb(0, 0, 0);
    background: black;
    text-align: center;
    width: 33%;
}
#popupLayer {
    position:fixed;
    top: 10px;
    left: 10px;
    visibility:hidden;
    border:solid 1px #000000;
    background-color:#FF9933;
	max-height: 95vh;
	max-width: 95vw;
}
#popupWindow {
    display: table;
    max-width: inherit;
    max-height: inherit;
}
#popupBar {
    width:100%;
    font: 14px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    display: table-row;
}
#popupClose {
    cursor:pointer; position:absolute; left:5px; top:0px;
    font-weight: bold;
}
#popupTitle {
    position:absolute; left:15px; top:0px;
}
#popupClose a {
    text-decoration: none;
}
#popupContent {
    display: table-row;
}
#popupImage {
    max-width: 95vw;
    max-height: 95vh;
}
#popupButtons {
    position:fixed;
    top: 30px;
    left: 10px;
    display: table-row;
    visibility:hidden;
}
.mosaic {
    font-size:0;
}

.post-icon {
    width: 24px;
    height: 24px;
	position: relative;
	top: 1px;
	left: 8px;
	background-color: transparent;
	fill: currentColor;
}

.post-badge {
    width: 12px;
    height: 12px;
    left: -24px;
    position: relative;
    top: -9px;
}
